body {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: 500;
}

.header {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
  margin-right: 10px;
}

.status {
  padding: 20px 0;
  background-color: #ffc473;
  text-align: center;
}
.status img {
  display: block;
  margin: 0 auto;
}

.navbar {
  width: inherit;
}
.navbar-brand {
  cursor: default;
}

.carousel-bilboard {
  min-height: 400px;
  display: block;
}
.carousel-text {
  letter-spacing: 0.5px;
  color: darkgrey;
}
.carousel-desc {
  right: -80px;
  z-index: 9;
  bottom: 23%;
}

.collapse.navbar-collapse {
  display: block;
  height: 0;
  width: 30%;
  transition: 0.7s all;
}

.benefits {
  color: #212529;
  text-align: center;
  margin-top: 60px;
  padding: 40px 30px;
  min-height: 400px;
  background-color: #ffc473;
}
.benefits-block {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.benefits-desc {
  min-height: 60px;
}
.benefits-item {
  margin-right: 30px;
  display: block;
  height: 160px;
  width: 25%;
  font-style: italic;
}
.benefits-item img {
  margin-top: 20px;
  height: 40px;
}

#map {
  display: block;
  height: 580px;
  text-align: center;
  padding: 40px 0;
  margin: 40px auto;
}
#map h3 {
  margin-bottom: 40px;
}

.about {
  display: block;
  background-color: #ffc473;
  margin-top: 60px;
  padding: 40px 30px;
  text-indent: 1.5em;
}
.about h3 {
  text-align: center;
  margin-bottom: 30px;
}
.about p {
  font-size: 20px;
  line-height: 1.8;
  font-style: italic;
  text-align: justify;
  text-indent: inherit;
}

.footer {
  color: white;
  min-height: 100px;
  margin-top: 60px;
  padding: 40px 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-basis: 0;
  justify-content: space-between;
  background-color: #212529;
}
.footer-item {
  text-align: center;
}
.footer-item img {
  margin-top: 20px;
  display: inline-block;
  width: 30%;
}
.footer-item li {
  list-style-type: none;
  text-align: left;
  margin-top: 5px;
}
.footer-item h6 {
  margin: 20px auto;
  text-transform: uppercase;
}
.footer-item a {
  text-decoration: none;
  color: white;
}
.footer-item a:hover {
  color: white;
}

.pageup {
  opacity: 0;
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: 100px;
  right: 5%;
  z-index: 30;
  cursor: pointer;
  transition: 1s all;
}
.pageup img {
  width: 100%;
}

.call {
  position: fixed;
  z-index: 100;
  bottom: -100%;
  left: 5%;
  width: 120px;
  transition: 1s all;
}
.call img {
  width: 100%;
  background-color: none;
  cursor: pointer;
}

.modal {
  height: 300px;
}
.modal-body input {
  padding: 5px;
  width: 85%;
  margin-bottom: 10px;
}
.modal-text {
  height: 80px;
}
.modal img {
  height: 40%;
}

.btn.btn-success {
  background-color: #2094f2;
}

.status img {
  width: 20%;
  margin: 10px auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-dialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-text {
  white-space: normal;
  width: 85%;
  padding: 5px;
}
.modal-header, .modal-body {
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}
.modal-title {
  font-weight: 500;
  font-size: 20px;
}
.modal-footer {
  padding: 15px;
}

@media screen and (max-width: 990px) {
  .navbar-nav {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h6 {
    font-size: 12px;
  }

  .carousel-text {
    font-size: 20px;
  }

  .footer-item img {
    width: 30%;
  }
  .footer-item li {
    font-size: 10px;
  }
}
@media screen and (max-width: 621px) {
  .carousel-desc {
    display: none;
  }

  .footer {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .benefits-desc {
    font-size: 13px;
  }

  .about p {
    font-size: 16px;
  }

  .navbar-brand {
    font-size: 16px;
  }

  .footer {
    justify-content: space-around;
  }
  .footer-item:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  h6 {
    font-size: 10px;
  }

  .about p {
    font-size: 12px;
  }

  h1 {
    font-size: 15px;
  }

  h3 {
    font-size: 12px;
  }

  .navbar-brand {
    display: none;
  }

  .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
    justify-content: end;
  }

  .benefits-item {
    margin-right: 0;
    width: 90%;
  }

  .about {
    padding: 30px 14px;
  }

  .footer-item:nth-child(3) {
    display: none;
  }
  .footer-item ul {
    padding-left: 5px;
  }
}